################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/EventManager/EventManager.Droid/bin/Debug
/EventManager/EventManager.Droid/obj/Debug

/EventManager/EventManager/bin/Debug
/EventManager/EventManager/obj/Debug
